[2020-11-09 21:17] EiffL opened #1 "[dummy] Test sprint issue"
This is just a dummy issue for testing

[2020-11-09 22:36] EiffL opened #2 "[SPRINT] Intrinsic Alignment add-on for Base5000"
# Intrinsic Alignment add-on for Base5000

Adding IA to the Base5000 catalog using an empirical halo model.

Contacts: @EiffL
Day/Time: Tuesday
Participants:

## Goals and deliverable

Deliverables:
  - [ ]: Add-on catalog for Base5000
  - [ ]: DESCQA test

## Resources and skills needed

A lot of enthusiasm, knownledge/experience with GCR, halotools, or the Base5000 catalog would be a big plus.

[2020-11-11 13:27] EiffL opened #3 "[SPRINT] TXPipe CosmoDC2 paper"
# TXPipe CosmoDC2 paper

Flesh out the TXPipe validation paper on CosmoDC2

Contacts: @EiffL, Joe Zuntz
Day/Time: Tuesday

## Goals and deliverable
Make progress on the CosmoDC2 paper, including:
 - [ ] : Paper structure
 - [ ] : Build roadmap to get the content for each sections
 - [ ] : Do some writing

## Resources and skills needed
A lot of enthusiam, and familiarity with TXPipe

## Detailed d

[2020-11-11 21:01] #1 closed

[2020-11-12 15:44] c-d-leonard opened #4 "[SPRINT] N5K"
# N5K

Get people together working on the N5K challenge to share ideas and make progress on challenge entries. Also, produce brute-force benchmarks for accuracy criteria if not yet ready by then.

Contacts: @c-d-leonard, @damonge
Day/Time: Not sure yet
Main communication channel: #desc-ccl
GitHub repo: https://github.com/LSSTDESC/N5K

## Goals and deliverable
Initial PRs for challenge entries, acc

[2020-11-12 15:58] c-d-leonard opened #5 "[SPRINT] move CCL CI to github actions"
# move CCL CI to github actions

Set up the CCL github repo to use github actions instead of Travis CI for continuous integration testing.

Contacts: @c-d-leonard
Day/Time: flexible
Main communication channel: #desc-ccl
GitHub repo: https://github.com/LSSTDESC/CCL/

## Goals and deliverable
Move CCL repo to use github actions.

## Resources and skills needed
Enthusiasm, experience with github.

##

[2020-11-13 11:14] c-d-leonard opened #6 "[SPRINT] CCL covariance calculations"
# CCL covariance calculations

Code up the halo model super-sample covariance and 1-halo trispectrum parts of the covariance within CCL.

Contacts: @damonge @c-d-leonard
Day/Time: not sure yet
Main communication channel: #desc-ccl
GitHub repo: https://github.com/LSSTDESC/CCL/

## Goals and deliverable
Pull request which has at least the main required code to incorporate these terms in CCL

## Reso

[2020-11-13 15:50] m-aguena opened #7 "[SPRINT] Cluster Mass modeling Code: CLMM - Come break our code!"
# CLMM - Come break our code

Test the CLMM package, and find and fix possible problems. Also check the documentation.

**Contacts:** @m-aguena, @combet
**Day/Time:** There will be an initial tutorial, and three hack sessions.

|  Event | Day | EST | CET | Zoom Room |
| - | - | - | - | - |
| Tutorial | Monday | 9:30 am | 3:30 pm | [10](https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+202

[2020-11-13 20:43] yymao opened #8 "[SPRINT] Prepare DC2 public data release"
# Prepare DC2 public data release

This sprint is to make progress on the planned DC2 public data release.

Contacts: @yymao @JoanneBogart @heather999
Day/Time: Initial discussion [Tuesday 1:30 PM PT via zoom](https://stanford.zoom.us/j/92980284578?pwd=UXZUT21qUlNhbVpRWkNHb1BZd3I3UT09)
Main communication channel: [#desc-dc2-public-data-release](https://lsstc.slack.com/archives/C01E1FG9Y4B)
GitHub

[2020-11-13 20:55] yymao opened #9 "[SPRINT] Explore intake as the successor to GCRCatalogs"
# Explore intake as the successor to GCRCatalogs

Explore the functionalities and features of [intake](https://intake.readthedocs.io/) (https://github.com/intake/intake) and evaluate its potential to become the successor to [GCRCatalogs](https://github.com/LSSTDESC/gcr-catalogs).

Contacts: @yymao @JoanneBogart @heather999
Day/Time: TBD
Main communication channel: [#desc-gcr-migration](https://lss

[2020-11-14 00:02] evevkovacs opened #10 "CosmoDC2 Validation Paper"
#[CosmoDC2 Validation Paper]

[Sprint to finish the validation paper]

Contacts: Eve Kovacs
Day/Time:  Mon-Tues and Thur-Fri; Flexible times between 9am and 7 pm CST or by appointment
Main communication channel:  desc-cosmodc2-validation-paper
GitHub repo:

## Goals and deliverable
[The goal is to update the figures and finalize the text and have the paper ready for internal review by the end of s

[2020-11-16 23:23] liuxx479 opened #11 "[SPRINT] ray-trace SLICS at LSST Pz"
# [ray-trace SLICS at LSST Pz]

[Impact of photo-z on WL higher-order statistics]

Contacts: Jia Liu (@liuxx479), Joachim Harnois-Deraps
Day/Time: Whole week
Main communication channel: slack channel desc-wl-massmap
GitHub repo:

## Goals and deliverable
[a list of LSST Pz with varying photo-z biases/errors for tomographic bins]
[ray-traced SLICS kappa maps]
[ray-traced Cosmo-SLICS kappa maps]

##

[2020-11-18 00:17] jchiang87 opened #12 "[SPRINT] Image Processing Resource Estimator"
# Image Processing Resource Estimator
Using profiling data of the different Rubin Science Pipelines analysis tasks, we'll write a tool to estimate the computing resources required to do DRP processing of a given input dataset.

Contacts: @jchiang87 @katrinheitmann
Day/Time: TBD
Main communication channel: #desc-co
GitHub repo: https://github.com/LSSTDESC/ImageProcessingPipelines

## Goals and deli

[2020-11-18 02:05] yymao opened #13 "[SPRINT] Make a dark-theme DESC slide template"
# Make a dark-theme DESC slide template

DESC now has a [dark-theme logo](https://lsstdesc.org/assets/img/logo-dark-mode.png) so we can now create a dark-theme slide template and put it on our [template page](https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+Style%3A+Presentation+Templates%2C+Logos+etc).

Contacts: @yymao @rmandelb
Day/Time: Wednesday
Main communication channel: [#desc-we

[2020-11-18 10:03] damonge opened #14 "[SPRINT] HSC 3x2pt"
# HSC 3x2pt

Make progress in the 3x2pt analysis of the HSC DR1 data.

Contacts: @fjaviersanchez @anicola @damonge
Day/Time:
Main communication channel: slack
GitHub repo: https://github.com/LSSTDESC/txpipe-reanalysis/tree/hsc_reanalysis

## Goals and deliverable
https://docs.google.com/document/d/1eGZksiN6pTw1XCp8JplPZPXvxCu-g693OxR_QUzExQo/edit?usp=sharing

## Resources and skills needed
Python,

[2020-11-18 10:37] reneehlozek opened #15 "[SPRINT] Working simple alert pipeline"
# [PLAsTiCCv2 alert pipeline]

[This sprint will take the smaller bits of code developed by @reneehlozek and Cameron Stockton and have a running pipeline]

Contacts: @reneehlozek
Day/Time: Wednesday, Thursday
Main communication channel: #plasticc_public
GitHub repo:

## Goals and deliverable
We will take the sample alert generation/testing codes and make an alert stream with dummy fluxes. This wil

[2020-11-18 10:44] reneehlozek opened #16 "[SPRINT] Pippin end-to-end tests"
# Running pippin end-to-end on NERSC for an LSST sim

Using the https://github.com/Samreay/Pippin and https://github.com/RickKessler/SNANA codes (installed on NERSC) we will test the end-to-end pipeline on small LSST simulations for the SNWG SRD and look to PLAsTiCC sims

Contacts: @reneehlozek @RickKessler @dscolnic
Day/Time: Thursday/Friday
Main communication channel: #desc-snana-sims
GitHub rep

[2020-11-18 18:38] kponder opened #17 "[SPRINT] PLAsTiCC Data Exploration Website"
#  PLAsTiCC Data Exploration Website

Adding content to the Data Exploration [Website](https://aimalz.github.io/plasticc-explorer/index.html) for PLAsTiCC.

Contacts: @aimalz @Catarina-Alves @kponder
Day/Time: Late European/Early Pacific Time. Day TBD
Main communication channel: #plasticc-website
GitHub repo: https://github.com/aimalz/plasticc-explorer

## Goals and deliverable
Create more fun plo

[2020-11-18 23:29] ellongley opened #18 "[SPRINT] Cosmic Shear Reanalysis"
# [Your Sprint Title]

Work on running FireCrown/ Cosmosis on the precursor survey data vectors from TXPipe.
Contacts: Emily Phillips Longley, Chihway
Day/Time: Synchronous, CT/EST
Main communication channel: desc-3x2pt or any messages to Emily on slack
GitHub repo: https://github.com/LSSTDESC/txpipe-reanalysis

## Goals and deliverable
Produce baseline contours for all three surveys for the cosmi

[2020-11-19 08:38] combet opened #19 "[SPRINT] CLMM paper sprint"
# CLMM paper sprint

Work on the paper describing the v1.0 release of CLMM

Contacts: Céline Combet, Alex Malz
Day/Time: TBA
Main communication channel: TBA
GitHub repo:

## Goals and deliverable
Have the paper (almost) ready for submission by the end of the sprint week.

## Resources and skills needed
Some knowledge of the current code base to write and/or critically review the text. New particip

[2020-11-19 16:48] mdschneider opened #20 "[SPRINT] Bayesian Variational Autoencoder cosmological parameter inference pipeline"
# Bayesian Variational Autoencoder cosmological parameter inference pipeline

Build a deep learning based emulator of cosmological parameter estimation MCMC to support new types of LSS summary statistics (such as lensing mass maps).

Contacts: Michael Schneider, Ryan Dana, Bob Armstrong @rearmstr
Day/Time: Tues-Fri PST sprint hours
Main communication channel: desc-wl-pipelines
GitHub repo: https:/

[2020-11-19 17:03] aubourg opened #21 "[SPRINT] LSST/Rubin renaming in collaboration documents, esp Policies"
# LSST/Rubin renaming in collaboration documents, esp Policies

Many collaboration documents still have inconsistent naming

Contacts: @aubourg
Day/Time: Wednesday
Main communication channel: slack/github
GitHub repo: LSSTDESC

## Goals and deliverable
Consistent use of names LSST and Rubin

## Resources and skills needed

## Detailed description

[2020-11-19 17:14] empEvil opened #22 "[SPRINT] JuDO things to do at a virtual meeting"
# JuDO things to do at a virtual meeting

Brainstorm JuDO events!

Contacts:
Day/Time: Wednesday 10 to 11 am PST
Main communication channel: slack
GitHub repo:

## Goals and deliverable
Come up with a list of events we can try and organize for the next general meeting!

## Resources and skills needed
enthusiasm, maybe some volunteering if people have time!

## Detailed description
With the next ge

[2020-11-19 17:39] jpratmarti opened #23 "[SPRINT] CosmoDC2 TXPipe"
# [CosmoDC2 TXPipe]

[CosmoDC2 comparison with theory, goal to compare noiseless cosmoDC2 3x2 measurements with theory and figure out the issues we are currently finding.]

Contacts: Judit Prat
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]

## Resources and skills needed
Useful if somebody fam

[2020-11-19 17:48] johannct commented on #16
interested

[2020-11-19 17:49] johannct commented on #19
if you need external reading, count me in.

[2020-11-19 17:50] johannct commented on #17
interested

[2020-11-19 17:51] johannct commented on #15
interested

[2020-11-19 18:02] johannct commented on #9
interested

[2020-11-19 18:54] TomGlanzman opened #24 "[SPRINT] DR2 Parsl workflow hardening"
# DR2 Parsl workflow hardening

Use lessons learned during DR2 pass 1 processing to harden/refactor/update the workflow for the (gen2)  processing workflow using Parsl

Contacts: Tom Glanzman, Ben Clifford
Day/Time: Tue-Fri, mostly asynchronous due to time zone difference
Main communication channel:  slack/zoom (details TBA)
GitHub repo:  LSSTDESC ImageProcessingPipelines

## Goals and deliverable

[2020-11-19 19:13] hsnee opened #25 "[SPRINT] Fisher Forecast"
# Fisher Forecast

Fine-tuning Fisher forecast for studying the impact of different pz error models on cosmological parameters.

Contacts: @hsnee @MarkusMichaelRau (@husni and @MMR on slack)
Day/Time: week-long
Main communication channel: slack (channel TBD)
GitHub repo: https://github.com/hsnee/PZ_project/

See these slides for more detailed description of the sprint: https://docs.google.com/pres

[2020-11-19 22:26] rmandelb opened #26 "[SPRINT] DESC Project status updates"
# DESC Project status updates

We'll remind ourselves of the status of research and infrastructure work in DESC, by checking in on the status of [DESC Projects](https://confluence.slac.stanford.edu/display/LSSTDESC/LSST+DESC+Projects) following the process outlined [here](https://docs.google.com/document/d/1T1MsuHMUQGMm-EZ-iE-WiJ7LEbpM1oTiFEiNxTE4Bco/edit#heading=h.r57aaw8bq3xe).

Contacts: @rmand

[2020-11-20 15:53] yymao commented on #5
I plan to give a short, intro-level tutorial on GitHub Actions at the Sprint Week on Tue (Dec 1) at 10am Pacific / 1p Eastern.

[2020-11-20 16:07] yymao opened #27 "[SPRINT] Stack Club Meets DC2"
# Stack Club Meets DC2

Migrate some excellent [Stack Club notebooks](https://stackclub.readthedocs.io/) so that they can work on DESC environment ("DESC Science Platform") and with DC2 data products.

Contacts: @yymao
Day/Time: TBD
Main communication channel: [#desc-dc2-data-access](https://lsstc.slack.com/archives/CB30ND9CG)
GitHub repo: https://github.com/LSSTDESC/StackClub

## Goals and delive

[2020-11-20 16:59] EiffL opened #28 "[SPRINT] Building TXPipe documentation"
# Building TXPipe documentation

TXPipe is a great tool, but can be a bit daunting at first, this sprint will aim at setting up a documentation basis that we can build upon progressively.

Contacts: @EiffL @empEvil @joezuntz
Day/Time: TBD, probably getting started early in the week
Main communication channel: @desc-3x2pt
GitHub repo: https://github.com/LSSTDESC/TXPipe

## Goals and deliverable
- [

[2020-11-20 17:17] aimalz opened #29 "[SPRINT] Standalone p(z) emulator"
# Standalone p(z) emulator

Separate out the (already public) [`chippr`](https://github.com/aimalz/chippr) p(z) emulation suite for multi-purpose use within DESC

Contacts: @aimalz
Day/Time: TBD, likely in the late time slot
Main communication channel: TBD, use Slack @aimalz for now
GitHub repo: https://github.com/aimalz/pzgen

## Goals and deliverable
Make a tagged release of a standalone Python

[2020-11-20 17:32] joezuntz opened #30 "[SPRINT] FireCrown Phoenix-Like Renewal"
# FireCrown Phoenix-Like Renewal

[One sentence description]

Contacts: @joezuntz @damonge
Day/Time: TBD
Main communication channel: Slack, Zoom
GitHub repo: [FireCrown](github.com/LSSTDESC/FireCrown)  [ShCl](github.com/damonge/ShCl_like/)

## Goals and deliverable
- Plan for FireCrown as a library
- Skeleton code

## Resources and skills needed
- Python
- Cosmological Parameter Estimation

## Det

[2020-11-20 17:38] empEvil opened #31 "[SPRINT] TXPipe photo-z implementation"
# TXPipe photo-z implementation

TXPipe should have a proper integration with Photo-z

Contacts: @EiffL, @joezuntz @empEvil
Day/Time: TBD
Main communication channel: @desc-3x2pt
GitHub repo: https://github.com/LSSTDESC/TXPipe
## Goals and deliverable

- [ ] Figure out what is needed to get the photo-z codes interfaced with TXPipe
- [ ] Build the interface module for TXPipe and current photo-z code

[2020-11-20 17:42] katrinheitmann opened #32 "[SPRINT] EDI Resource Collection"
# EDI Resource Collection

Collect and evaluate relevant resources for the DESC EDI community

Contacts: Katrin Heitmann
Day/Time: Wednesday, 10am PT
Main communication channel: #desc-edi
GitHub repo:

## Goals and deliverable
- Start confluence page with useful EDI resources
- Evaluate resources in order to be able to provide a good description on the confluence page
- Brainstorm how to make this

[2020-11-20 18:00] aimalz opened #33 "[SPRINT] Golden Spike: RAIL end-to-end pipeline"
# Golden Spike: baseline RAIL end-to-end pipeline

Connect the RAIL creation and estimation modules and evaluate p(z) metrics on the simplest end-to-end test thereof

Contacts: @aimalz @jbkalmbach @jfcrenshaw @johannct @sschmidt23
Day/Time: TBD, probably the later time slot on Monday, Tuesday, Thursday, Friday
Main communication channel: `#desc-pz-rail` on Slack
GitHub repo: https://github.com/LSS

[2020-11-20 18:00] empEvil opened #34 "[SPRINT] DESC pipeline software unified flow chart"
# DESC pipeline software unified flow chart

Let's make a flow chart of all DESC codes!

Contacts: @aimalz @empEvil @EiffL
Day/Time: Wednesday
Main communication channel: TBD
GitHub repo: https://github.com/LSSTDESC/Pipelines

## Goals and deliverable

- [ ] Identify input and output for DESC codes
- [ ] Decide on a unified schema
- [ ] Make flow chart of all DESC codes

## Resources and skills ne

[2020-11-20 18:09] mishakb opened #35 "IA DESC note/paper writing"
# [IA DESC note/paper]

[We will continue writing this note/paper to summarize the current plans and ongoing efforts about IA in DESC]

Contacts: @mishakb,  @elisachisari
Day/Time: Tuesday
Main communication channel: zoom will be provided later
Overleaf: https://www.overleaf.com/project/5dd224cd7bd47c0001ba6aba

## Goals and deliverable
[add significant writing to what is there already; hopefully

[2020-11-20 18:19] mishakb opened #36 "[SPRINT] CCL Scale Dependent MG support"
# [CCL Scale Dependent MG support]

[CCL Scale Dependent MG support: code cleaning, benchmarking, and documentation]

Contacts:
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
[Cleaned code, benchmarks and documentation]

## Resources and skills needed
[C, Python, some knowledge of CCL structure preferable]

## Detailed description
[Implementation was completed and fun

[2020-11-20 21:44] herjy opened #37 "[SPRINT] Blending overview document and presentation planning"
# Blending overview document and presentation planning

Writing of an onboarding document for the BL working that will also serve preparing an upcoming group overview session.

Contacts: Rémy Joseph, Matt Becker
Day/Time: Flexiible
Main communication channel: desc-blendinig
GitHub repo:

## Goals and deliverable
We will create a document presenting general information about the activities of the B

[2020-11-20 22:19] herjy opened #38 "[SPRINT] Add functionality for real galsim galaxies + galsim_hub in BTK"
# Add functionality for real galsim galaxies + galsim_hub in BTK

Enable drawing real galaxy profiles from galsim in the blending toolkit framework (PR [#52](https://github.com/LSSTDESC/BlendingToolKit/pull/52#issue-486261015)).

Contacts: [Rémy Josep](@herjy) , [Ismael Mendoza](@ismael-mendoza )
Day/Time: 8-9am EST (M-W)
Main communication channel: [blending_toolkit](https://lsstc.slack.com/archi

[2020-11-22 22:08] ismael-mendoza opened #39 "[SPRINT] BTK future development ideas"
# BTK future development ideas

We will brainstorm ideas for future development of BTK.

Contacts: @ismael-mendoza, @thuiop
Day/Time: Flexible
Main communication channel: #blending-toolkit
GitHub repo: [BTK](https://github.com/LSSTDESC/BlendingToolKit)

## Goals and deliverable
A couple of detailed issues posted in the BTK github repo.

## Resources and skills needed
btk, galsim, git, DC2 knowledg

[2020-11-23 00:40] BrunoSanchez opened #40 "[SPRINT] Sky Coordinates of DC2 calexps and deepCoadds in Jupyter Hub"
# Sky Coordinates of DC2 in Jupyter Hub

Mapping Sky Coordinates to DC2 deepCoadd in Jupyter Hub

Contacts: @shuliu2017 @BrunoSanchez
Day/Time: Synchronous, CT/EST
Main communication channel: desc-dc2-dia
GitHub repo:

## Goals and deliverable
We want to produce calexps and deepCoadds from DC2.
Given a list of sky coordinates, what is the the proper method to use to find the DC2 deepCoadd/calexp i

[2020-11-23 00:57] BrunoSanchez opened #41 "[SPRINT] SNe in DC2: comparing DC2 data vs SNANA sims"
# SNe in DC2: comparing DC2 data vs SNANA sims

Comparing SNe from DC2 woth a SNANA simulation

Contacts: @RickKessler  @BrunoSanchez
Day/Time: Synchronous, CT/EST
Main communication channel: #desc-snana-sims
GitHub repo:

## Goals and deliverable
A comparison of SNANA sims with DC2 lightcurves:
1- Impact estimation of correc/incorrect Eff(SNR) in simulations
2- Comparing lightcurve general proper

[2020-11-23 11:34] cnsetzer opened #42 "[SPRINT] Document your DESC code!"
# Document your DESC code!

Add contextual notes, docstrings, and descriptions of your code to your DESC code repository.

Contacts: N/A
Day/Time: Wednesday
Main communication channel: N/A
GitHub repo: Your DESC software repo!

## Goals and deliverable

## Resources and skills needed

## Detailed description
Our collaboration can thrive when we are able to successfully use and build-upon existing

[2020-11-23 11:43] cnsetzer opened #43 "[SPRINT] Clean Up Working Group Confluence Pages"
# Clean Up Confluence

Edit and organize confluence pages related to your primary Working Group.

Contacts:
Day/Time: Wednesday
Main communication channel: Your working group's slack channel.
GitHub repo:

## Goals and deliverable

## Resources and skills needed

## Detailed description
Remove unnecessary pages, edit existing pages, reorganize structure of your Working Group pages on confluence. C

[2020-11-23 11:50] enourbakhsh opened #44 "[SPRINT] PZ_blend"
# Photo-z blending
Study the impact of galaxy blending on photometric redshift estimates (point estimates and probability distribution functions)

Contacts: @sam, @enourbakhsh, @ih64
Day/Time: Asynchronous and Synchronous, PST/EST
Main communication channel: #desc-pz-blend
GitHub repo: https://github.com/LSSTDESC/pz_blend

## Goals and deliverable
- [ ] Using machine learning (TPZ code) to generat

[2020-11-23 11:54] cnsetzer opened #45 "[SPRINT] Catch-up with Committee Duties"
# Catch-up with Committee Duties

A major service to the collaboration is serving on a committee, if you are such a committee member, considering using this time to catch-up on duties related to your appointments.

Contacts:
Day/Time: Wednesday
Main communication channel:  Your committee's slack channel.
GitHub repo:

## Goals and deliverable

## Resources and skills needed

## Detailed descriptio

[2020-11-23 16:23] EiffL opened #46 "[SPRINT] Background subtraction test to shear image simulations"
# Background subtraction test to shear image simulations

Testing the impact of background subtraction on shear recovery with the descwl-shear-sims package.

Contacts: @esheldon @EiffL
Day/Time:
Main communication channel: #desc-wl-shear
GitHub repo: https://github.com/LSSTDESC/descwl-shear-sims

## Goals and deliverable
[describe your goals for the week and the deliverables you are aiming for]
-

[2020-11-23 18:20] liuxx479 opened #47 "[SPRINT] In-paint shear masks"
# [In-paint shear masks]

[Investigate methods to in-paint masked regions in shear maps, to reduce reconstruction biases.]

Contacts: Will Coulton, Jia Liu
Day/Time: All week
Main communication channel: slack channel desc-wl-massmap
GitHub repo:

## Goals and deliverable
[Code to in-paint shear maps]

## Resources and skills needed
[python]

## Detailed description
[add additional details  about t

[2020-11-23 18:36] liuxx479 opened #48 "[SPRINT] Hydro kappa map with a realistic pz"
# [Hydro kappa map with a realistic pz]

[Generate 10,000 mock kappa maps with a realistic photo-z distribution from the kappaTNG public maps]

Contacts: Jia Liu (@liuxx479 ), Benjamin Remy, Francois Lanusse
Day/Time: all weak
Main communication channel: slack channel desc-wl-massmap
GitHub repo:

## Goals and deliverable
[10,000 mock maps, with COSMOS dndz]

## Resources and skills needed
[python

[2020-11-23 19:26] #48 closed

[2020-11-23 20:05] heather999 opened #49 "[SPRINT] DC2 DR2 Release"
# DC2 DR2 Release

Prepare DC2 DR2 Release, including validation and reprocessing plans.

Contacts: Jim Chiang, Johann Cohen-Tanugi, Heather Kelly
Day/Time: TBD
Main communication channel:  [#desc-dc2-dm](https://lsstc.slack.com/archives/C978LTJGN)
GitHub repo:

## Goals and deliverable
The goal is to validate the IN2P3-CC Run2.2i DR2 data, initiate a transfer to NERSC, and release an updated GCRC

[2020-11-23 20:29] slosar opened #50 "[SPRINT] Analysis pipelines from now to DR1"
#

A plan how to organize work over the next few years.

Contacts: @slosar
Day/Time: Monday, Tuesday, Wednesday
Main communication channel: slack me privately
GitHub repo: I'll post a google doc

## Goals and deliverable
DESC mgmt is planning a replacement of SRM, which was universally hated by the collaboration.
The question is how do make sure we are ready when the telescope is and organize the

[2020-11-23 20:39] MelissaGraham opened #51 "[SPRINT] Embed CMNN Estimator in a PZ MAF"
# Embed CMNN Estimator in a PZ MAF

Attempt to make the CMNN Estimator code auto-run as part of a MAF and produce photo-z statistics for evaluating OpSim runs.

Contacts: Melissa Graham
Day/Time:
Main communication channel: Slack
GitHub repo: https://github.com/dirac-institute/CMNN_Photoz_Estimator

## Goals and deliverable
1. Set up the CMNN Estimator to automatically simulate galaxy catalogs and

[2020-11-23 21:18] yymao opened #52 "[SPRINT] Cutout (postage stamp) web service for Run 2.2 DR6"
# Cutout (postage stamp) web service for Run 2.2 DR6

Update the [cutout web service](https://portal.nersc.gov/cfs/lsst/dc2/cutout/) to make it work with Run 2.2 DR6, and, if possible, move it to Spin!

Contacts: @yymao
Day/Time: TBD
Main communication channel: No dedicated channel, but ok to use [#desc-dc2-data-access](https://lsstc.slack.com/archives/CB30ND9CG)
GitHub repo: https://github.com/LS

[2020-11-24 03:40] chihway opened #53 "[SPRINT] DC2 mean shear / seagull challenge"
DC2 mean shear / seagull challenge

Explore DC2 catalog to understand why we get a mean g1~-0.003 and mean g2~0. Also the seagull-like correlation between g1 and g2.

Contacts: Erin? Mike? Matt? Chris? Chihway?
Day/Time: ?
Main communication channel: #desc-wl-shear
GitHub repo:

## Goals and deliverable
Figure out why mean g1 is not zero.

## Resources and skills needed
Anyone who's interested in

[2020-11-24 12:52] jablazek opened #54 "[SPRINT] Nonlinear CCL capabilities cleanup"
# Nonlinear CCL capabilities cleanup

Close some issues related to capabilities we want CCL to have with nonlinear modeling from FASTPT

Contacts: @jablazek
Day/Time:
Main communication channel:
GitHub repo: https://github.com/LSSTDESC/CCL

## Goals and deliverable
https://github.com/LSSTDESC/CCL/issues/831
https://github.com/LSSTDESC/CCL/pull/763

## Resources and skills needed
experience with un

[2020-11-24 14:53] jablazek opened #55 "[SPRINT] Correlation functions in CCL"
# Correlation functions in CCL

Improve correlation function capabilities and documentation in CCL

Contacts:
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
There are several open issues related to correlation functions in CCL, especially regarding the use of generalized Pk for 3d correlation functions.

## Resources and skills needed
[describe the resources (software

[2020-11-24 14:57] jablazek opened #56 "[SPRINT] New FAST-PT capabilities and planning implementation in CCL"
# New FAST-PT capabilities and planning implementation in CCL

Expand or validate modeling capabilities in FAST-PT, especially RSD and IR-resummation for BAO. Think of how we want to integrate these capabilities into CCL.

Contacts:
Day/Time:
Main communication channel:
GitHub repo:

## Goals and deliverable
Validated RSD and IRRes outputs in FASTPT. Plans for CCL integration.

## Resources and sk

[2020-11-24 22:13] vivianmiranda opened #57 "[SPRINT] Cosmology dependency of Bias Corrections in BBC"
Cosmology dependency of Bias Corrections in BBC

We are developing infrastructure to account for the cosmology dependency of simulated bias correction.

Contacts: Vivian Miranda and Rick Kessler
Day/Time: every day 3 pm Arizona time
Main communication channel: desc-snana-sims channel on slack
GitHub repo: github.com/BBCLike/CosmoMCBBC

## Goals and deliverable
A likelihood code in CosmoMC that wil

[2020-11-25 16:40] humnaawan opened #58 "[SPRINT] feedback form for the sprint week"
## Feedback form for the sprint week

Contacts:
Day/Time: Wednesday
Main communication channel: #desc-meetings, #desc-hack-sprint
Contacts: @humnaawan @plazas

## Goals and deliverable
The goal here is to come up with and finalize the questions to ask in the feedback form for the sprint week. While the questions will be finalized by the Meetings Committee and the Logistics Organizing Committee for

[2020-11-25 16:57] humnaawan opened #59 "[SPRINT] template feedback forms for the meetings committee"
# Template feedback forms for the Meetings Committee

Contacts:
Day/Time: Wednesday
Main communication channel: #desc-meetings, #desc-hack-sprint
Contacts: @humnaawan @plazas

## Goals and deliverable
The goal here is to create templates for (short) feedback forms for use by the Meetings Committee. These would include the form for the Meeting Contact Persons (MCPs), Session Facilitators/Chairs, an

[2020-11-25 17:06] humnaawan opened #60 "[SPRINT] cluster 2pt using cosmoDC2/DC2"
# Measuring the Cluster 2pt using cosmoDC2/DC2

Contacts: @humnaawan @cavestruz
Day/Time: TBD
Main communication channel: #desc-cl
GitHub repo: None (yet)

## Goals and deliverable
The goal here is to measure the Cluster 2pt function using cosmoDC2/DC2 with the motivation to 1) figure out the various working parts of the analysis pipeline, and 2) validate DC2 sims.

The reach goal would be to
- Me

[2020-11-25 19:53] aimalz opened #61 "[SPRINT] Redshift information-based MAF metric"
# Redshift information-based MAF metric

Wrap up the project to derive a MAF metric of redshift information retention under a given observing strategy

Contacts: @aimalz @EiffL @MelissaGraham
Day/Time: Thursday 7h-11h ET
Main communication channel:
GitHub repo: https://github.com/LSSTDESC/TheLastMetric

## Goals and deliverable
The redshift information metric exists in a jupyter notebook that need

[2020-11-27 17:50] rmjarvis opened #62 "[SPRINT] Migrate from Travis to GitHub Actions"
# Migrate [your repo] from Travis to GitHub Actions

Migrate one or more repositories that currently use Travis for CI to use GitHub Actions

Contacts: Mike Jarvis
Day/Time: Mostly Tuesday, but fairly flexible.
Main communication channel: #desc-co
GitHub repo: https://github.com/GalSim-developers/GalSim (for one, hopefully more)

## Goals and deliverable
I (Jarvis) have already converted Piff and

[2020-11-28 20:13] yymao opened #63 "[SPRINT] Create parquet files for Skysim5000"
# Create parquet files for Skysim5000

The Skysim5000 is getting ready to be released via GCRCatalogs (cf. https://github.com/LSSTDESC/gcr-catalogs/pull/496). This sprint aims to generate a few parquet files for Skysim5000, with the hope of improving access performance.

Contacts: @yymao @JoanneBogart @evevkovacs
Day/Time: TBD
Main communication channel: [#desc-dc2-data-access](https://lsstc.slack

[2020-11-28 21:38] katrinheitmann opened #64 "[SPRINT] EDI Sprint 2, Townhall follow-up"
# Townhall follow-up

We will summarize the notes that were taken during the townhall meeting in the morning to present them at the Sprint close-out session.

Contacts: Katrin Heitmann
Day/Time: Wednesday, 12-1pm PT
Main communication channel: desc-edi
GitHub repo:

## Goals and deliverable
Due to the restricted time during the townhall, the EDI committee decided to go carefully through all the no

[2020-11-29 12:47] esheldon commented on #46
There are two parts of this
1. add background to the sims
1. turn on background determination

The first one is in the sim package, the second occurs elsewhere.  I will volunteer to work on making the stack do the bg subtraction because it isn't clear yet how/where that should happen exactly.

[2020-11-30 00:13] gvalogia opened #65 "[SPRINT] Forecasting constraints to gravity with the MG emulator"
# Forecasting constraints to gravity with the MG emulator

The goal of this hack is to perform Fisher forecasting of constraints to the f(R) Hu-Sawicki MG model by the Rubin Observatory, utilizing the matter power spectrum emulator mgemu.

Contacts: @gvalogia
Day/Time: Flexible throughout the week, Asynchronous & Synchronous EST
Main communication channel: desc-tjp-beyondwcdm and/or zoom as needed

[2020-11-30 01:23] sukhdeep2 opened #66 "TJPCov"
# Package development

We will be building a TJPCov package following the discussion in https://github.com/LSSTDESC/TJPCov/issues/5

Contacts: Sukhdeep Singh, @felipeaoli
Day/Time: Monday-Friday (We will be most active on Tuesday-Thursday)
Main communication channel: Slack (TJP-cov channel), github issues page, zoom occasionally.
GitHub repo: https://github.com/LSSTDESC/TJPCov

## Goals and delive

[2020-11-30 09:02] jiwoncpark opened #67 "[SPRINT] SL-Resolution Raytracing for CosmoDC2"
# SL-resolution raytracing for CosmoDC2

Postprocess the weak lensing convergence values in CosmoDC2 for finer resolutions appropriate for strong lensing studies.

Contacts: Ji Won Park (@jiwoncpark)
Day/Time: Monday 12 - 6pm ET, Tuesday through Friday 9am - 3pm ET
Main communication channel: #desc-sl-environment
GitHub repo: https://github.com/jiwoncpark/extranet

## Goals and deliverable
I will

[2020-11-30 10:38] sylvielsstfr commented on #7
Can you give the permissions ? thanks.

bash: /global/homes/a/aguena/desc/make_clmm_env.sh: Permission denied

Sylvie

[2020-11-30 12:10] c-d-leonard opened #68 "[SPRINT] Gaps in CCL validation?"
# Gaps in CCL validation?

Find and document any gaps in our validation / benchmarks for current CCL.

Contacts: Danielle Leonard
Day/Time: Monday / Tuesday CET Hub times
Main communication channel: desc-ccl
GitHub repo: https://github.com/LSSTDESC/CCL/
Notes doc: https://docs.google.com/document/d/1v7Al4MJs9nn-MmVfSfFG5DcYVyaSiPIH4epOFdF0UEo/edit?usp=sharing

## Goals and deliverable
Issue with t

[2020-11-30 12:19] c-d-leonard commented on #25
Hey @hsnee @MarkusMichaelRau can I help with this? I am on Europe-time but if there's something I can help with let me know.

[2020-11-30 12:23] c-d-leonard commented on #65
Hey @gvalogia I'm interested to help with this!

[2020-11-30 12:41] esheldon commented on #53
I'll also add as goals

* figure out why there is a kink in the mean g1 vs true g1 plot
* figure out why when selecting +g1 true shear (in the original convention) we get a small `m` but when selecting -g1 true shear we get 35%

[2020-11-30 13:10] dscolnic opened #69 "[SPRINT] DESC OS Metrics Paper"
# DESC OS Metrics Paper

Work on DESC OS Metrics Paper

Contacts: Dan Scolnic
Day/Time: M-F
Main communication channel: #desc-obs-strat
GitHub repo:

## Goals and deliverable
A draft of metrics paper

## Resources and skills needed
Editors

## Detailed description
We need people to review current paper and point out writing problems and content problems

[2020-11-30 13:35] marina-ricci opened #70 "[SPRINT] Plan of actions for the DESC baryon pasting project"
# Plan of actions for the DESC baryon pasting project

Update and drafting of the plan of actions for the baryon pasting DESC project (https://confluence.slac.stanford.edu/display/LSSTDESC/Baryon+Pasting+Project)

Contacts: Marina Ricci
Day/Time: Monday 30 Nov
Main communication channel:
GitHub repo:

## Goals and deliverable
Obtain a clear plan of action to obtain and analyse simulated X-ray and

[2020-11-30 14:22] m-aguena commented on #7
Are you part of the lsst group on nersc? People on the lsst group should have permission

[2020-11-30 15:10] reneehlozek commented on #55
I definitely think @Andromedanita is interested in this!

[2020-11-30 15:13] CameronStockton commented on #15
Im working on this as part of my project! Let me know if you have any questions

[2020-11-30 15:22] joezuntz commented on #30
Hi all.  Let's have a kick-off chat about this.  How are people fixed after the TXPipe tutorial tomorrow?  6pm UK, 1pm Eastern.

[2020-11-30 15:25] rmandelb commented on #26
@LSSTDESC/wg-conveners : I see a few conveners have started to assign themselves to this issue.  Thanks!  Please continue to do so.

At the bottom of this comment is the checklist, in which each WG is asked to tick a box to indicate they have finished following the instructions outlined [here](https://docs.google.com/document/d/1T1MsuHMUQGMm-EZ-iE-WiJ7LEbpM1oTiFEiNxTE4Bco/edit#heading=h.r57aaw8bq3

[2020-11-30 15:28] gvalogia commented on #65
Awesome, I'll get in touch with you!

[2020-11-30 15:46] marcpaterno commented on #30
I am available.

From: joezuntz <notifications@github.com>
Reply-To: LSSTDESC/SprintWeek2020 <reply@reply.github.com>
Date: Monday, November 30, 2020 at 9:22 AM
To: LSSTDESC/SprintWeek2020 <SprintWeek2020@noreply.github.com>
Cc: Marc F Paterno <paterno@fnal.gov>, Assign <assign@noreply.github.com>
Subject: Re: [LSSTDESC/SprintWeek2020] [SPRINT] FireCrown Phoenix-Like Renewal (#30)

Hi all. Let's h

[2020-11-30 15:50] hsnee commented on #25
Hi @c-d-leonard, yes please, that would be great -- I'll message you on slack with details.

[2020-11-30 15:55] modichirag commented on #47
@liuxx479 @wcoulton : Hi guys, I am interested in contributing to this if you want more folks to work on this :)

[2020-11-30 16:14] cwwalter commented on #53
A few more:

- Figure out why there is a kink in mean true g1 vs binned true g2 [must be the same reason as above?]
- Check for dependence on true lensing vs observed position
- Study behavior as a function of size up to the full 5000 sq degrees input catalog

[2020-11-30 16:17] fjaviersanchez commented on #14
Starting point:

![density_cl](https://user-images.githubusercontent.com/13971732/100634747-4ae79780-32f5-11eb-8905-d0f4856e67ce.png)
![shear_cl_ee](https://user-images.githubusercontent.com/13971732/100634750-4c18c480-32f5-11eb-86e8-2c115e5d4f60.png)
![shearDensity_cl](https://user-images.githubusercontent.com/13971732/100634755-4cb15b00-32f5-11eb-8345-3af57f9c5b43.png)

[2020-11-30 16:20] marcpaterno commented on #57
Is this effort related in any way to #30? Should it be?

[2020-11-30 16:44] RickKessler commented on #57
This effort is focussed on improving the SN likelihood, so I think it is complementary to #30, but not overlapping.

[2020-11-30 16:48] kponder commented on #15
Is this being worked on today?

[2020-11-30 16:53] heather999 commented on #49
@johannct @jchiang87 @yymao  @TomGlanzman Can we choose a day to discuss DR2 release? Johann, can you propose a couple of timeslots that work for you?

[2020-11-30 16:59] johannct commented on #49
the processing is not completely done, a stream is stuck and I do not seem to manage to get Brian's attention.....
Other than that :
- get numerics for the computing model (the initial reason for this processing at CC)
- trigger transfer
- update gcr-catalogs and desc-dm-dc2-data
All this does not really need discussion, does it? What may need discussion is the utility of it as a glimpse at Y1 DRP

[2020-11-30 17:13] damonge commented on #30
yep sure

[2020-11-30 17:16] mishakb commented on #30
That time will work for me too.

[2020-11-30 17:22] eacharles opened #71 "Information / resources for the qp tutorial."
This tutorial will be in zoom room DESC-14 (see here for [link](https://confluence.slac.stanford.edu/display/LSSTDESC/Zoom+Numbers+for+the+DESC+2020+Virtual+Sprint+Week)).

)I have set up the desc-sprint-2020 branch of the DESC fork of the qp package to run this tutorial for those that would like to follow along.

https://github.com/LSSTDESC/qp/tree/desc-sprint-2020

I will be running the demo.ipy

[2020-11-30 17:44] kponder opened #72 "[SPRINT] Disagreement matrix for the PLAsTiCC results paper"
# Disagreement matrix for the PLAsTiCC results paper

Creating a plot that illustrates how the top ~15 participants differed in classifications.

Contacts: @kponder @reneehlozek @mi-dai @MichelleLochner
Day/Time: Tuesday. First call at 10 am EST
Main communication channel: plasticc-public
GitHub repo: https://github.com/aimalz/proclam

## Goals and deliverable
Create this final plot for the result

[2020-11-30 17:46] kponder commented on #72
Please respond with appropriate emoji for day to work on this plot:

👍 for Tuesday
👎 for Wednesday
❤️ for Thursday
😄 for Friday

[2020-11-30 17:49] annis commented on #30
I'm available, but have a conflict at 12:45 to 1:15...
________________________________
From: Marc Paterno <notifications@github.com>
Sent: Monday, November 30, 2020 9:47 AM
To: LSSTDESC/SprintWeek2020 <SprintWeek2020@noreply.github.com>
Cc: James Annis <annis@fnal.gov>; Assign <assign@noreply.github.com>
Subject: Re: [LSSTDESC/SprintWeek2020] [SPRINT] FireCrown Phoenix-Like Renewal (#30)

I am av

[2020-11-30 17:50] reneehlozek commented on #72
👍

[2020-11-30 17:55] annis commented on #30
Coordinates?

________________________________
From: James Annis <annis@fnal.gov>
Sent: Monday, November 30, 2020 11:49 AM
To: LSSTDESC/SprintWeek2020 <SprintWeek2020@noreply.github.com>; LSSTDESC/SprintWeek2020 <reply@reply.github.com>
Cc: Assign <assign@noreply.github.com>
Subject: Re: [LSSTDESC/SprintWeek2020] [SPRINT] FireCrown Phoenix-Like Renewal (#30)

I'm available, but have a conflict at

[2020-11-30 18:08] c-d-leonard commented on #5
@vivianmiranda @vitenti What are you plans with respect to this? Do either of you want to take the lead? If you are both too busy I am happy to do it myself on Wednesday after Yao's Tuesday github actions tutorial but if either of you wants to have a crack at it that would be fantastic.

[2020-11-30 18:11] joezuntz commented on #30
See the link on this page:
https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+2020+Virtual+Sprint+Week%3A+Sprints

[2020-11-30 18:46] humnaawan commented on #60
thanks @katrinheitmann @mishakb for a fruitful conversation earlier. just to recap some of the discussion points, there are a few outstanding questions before we can really measure cluster 2pt with DC2:
- what would it take for the cluster finder to be run on DC2 data? @erykoff can you please comment on this?
- @erykoff can you also say how long the cluster finding takes and whether we can expect

[2020-11-30 18:49] bhorowitz commented on #47
I threw together my flat sky WF implementation here: https://github.com/bhorowitz/WF_shear

Might be nice as a baseline model to check something fancier against...

[2020-11-30 18:53] CameronStockton commented on #15
@kponder Hi Kara. Renee is running point on this but we are having a meeting tomorrow at 12pm EST over Zoom. I think that's when we will be doing the majority of the work!

[2020-11-30 19:01] vivianmiranda commented on #5
I am devoting the entire week to do that. I can take the lead. What time on Wed? I need to learn about github actions but I will :)

[2020-11-30 19:06] mishakb commented on #60
@humnaawan, sure. I beleive that @pennalima may also have some comments on the CCL side.

[2020-11-30 20:54] esheldon commented on #53
I think the new thing I learned first day of the sprint was that the bias for objects with true shear `g1 < 0` is huge, but fairly small for `g1 > 0`.  I consider this work, done sunday night as part of the sprint.

[2020-11-30 21:03] erykoff commented on #60
1) So I set redMaPPer running on DC2 DR6 before I took last week off, and there was some sort of problem that I am going to track down this afternoon (hopefully).
2) The calibration part was taking a few days on my wimpy old machine, it could have been faster at nersc potentially but I didn't feel like dealing with nersc (and there's also something strange that it sometimes hiccups and needs to be

[2020-11-30 21:06] vitenti commented on #5
@c-d-leonard I just converted CLMM from Travis-ci to GHA. @vivianmiranda tell me when you are going to do this and I'll join.

[2020-11-30 21:08] vitenti commented on #30
I'll be avaiable

[2020-11-30 21:52] humnaawan commented on #60
thanks @erykoff! it'll be great to get progress updated on DC2 DR6 once its available.

also, i assume that the code is not set up on NERSC (please correct me if im wrong) - do you think this is something that can be achieved as a sprint during this week?

[2020-11-30 22:00] erykoff commented on #60
It does support nersc via docker/shifter, but now I can't find my documentation on that...which would be something useful to do (properly document running at nersc!) this week after I fix the DC2 DR6 catalog generation.

[2020-11-30 22:19] kponder commented on #72
Quick call to discuss tasks at 10 am EST on Tuesday.

I reserved DESC 18 zoom room.

[2020-11-30 23:00] jchiang87 commented on #12
I have a [draft pull request](https://github.com/LSSTDESC/ImageProcessingPipelines/pull/164) for this work in the LSSTDESC/ImageProcessingPipelines repo.   Of the goals and deliverables listed above, items 1 and 3 are basically done.

Here is some example output using the DR6 overlaps db table in `/global/cfs/cdirs/lsst/production/DC2_ImSim/Run2.2i/desc_dm_drp/v19.0.0-v1/rerun/run2.2i-calexp-v1/tr

[2020-12-01 00:20] nesar commented on #65
I wrote a small script to combine CCL's wCDM P(k) and MG emulator's power spectrum enhancement. Pushed a notebook [here](https://github.com/LSSTDESC/mgemu/blob/Spring2020/notebooks/pmg.ipynb). The relevant function is `pmg(Om, h, ns, s8, fR0, n, z)`

The enhancement factor is multiplied by Cosmic Emu's p(k) predictions. Some more validation needs to be done, but I have the CCL parameters set to th

[2020-12-01 01:03] gvalogia commented on #65
Awesome, thanks @nesar . In the meantime, I wrote a script that first evaluates the galaxy power spectra from the simulated COLA matter P(k)s, and then produces the corresponding covariance matrices. I pushed the python code and the covariances for 10 z bins (Y10 sample) and 5 z bins (Y1 sample) [here](https://github.com/LSSTDESC/mgemu/tree/Spring2020/notebooks)
As for what the correlation matrix

[2020-12-01 03:02] nesar commented on #65
This is great! so for forecasting all we need is a wrapper around P_MG(k, z) to get P_gg(k). Looks like you already have that implemented while computing the fiducial values and covariance matrix above.

[2020-12-01 06:30] liuxx479 commented on #11
Monday report:

With the help of @MarkusMichaelRau, we generated biased Pz at below parameters:

**Assumptions:**
1. LSST SRD2018 Pz (page 53)
[code]
2. Equal width bins, instead of equal number count bins, c.f. [https://arxiv.org/pdf/1901.06495.pdf](https://arxiv.org/pdf/1901.06495.pdf
)
[code]

**Parameters:**
1. Fiducial values:
zbias=0.0007, sigma_z=0.02, outlier fraction 10%
outlier fraction

[2020-12-01 12:09] nikosarcevic commented on #2
Hi, I would like to join this sprint. I only attended tutorials yesterday but did nothing apart from that. @c-d-leonard will also join.

Where to start?

[2020-12-01 13:22] nikosarcevic commented on #25
Hi, I would like to join this sprint. If anyone has any tips on how to start, what to do, etc. I'd appreciate it much. I will start reading about it until I get some tips. Please, keep in mind I am new to this so be gentle :insert anxious emoji:

[2020-12-01 14:39] gvalogia commented on #65
Yes indeed, I can easily do that combing the script I wrote yesterday, that calculates galaxy bias and shot noise, with your function pmg. In fact, I'm thinking that this is a good thing to work on today

[2020-12-01 14:58] reneehlozek opened #73 "[SPRINT] Working Group Input on DESC Early Science"
# Working Group Input on DESC Early Science

The Rubin Project has put out calls for what we might do with Early Science. As the DESC, we would like to use this sprint week to think through a few papers we could write with Early Science.

There is a [slide deck](https://docs.google.com/presentation/d/1CSrWca0U04VQJrqU9X0aMeB1-j6sQM_rMjCnhUeQ6RA/edit?usp=sharing) that explains the definitions of Ea

[2020-12-01 15:33] c-d-leonard commented on #5
If you two are happy to do it it doesn't need to be Wednesday! I think you are both on the West side of the Atlantic so time-zone wise it is probably best if you go ahead working on it whenever it works for you both and I can help out asynchronously if there is anything I can be of use with. I'll still plan to go to Yao's tutorial today so I have some background. @vivianmiranda @vitenti

[2020-12-01 15:53] c-d-leonard commented on #68
I made the issue! https://github.com/LSSTDESC/CCL/issues/832 If anyone still wants to help with this, the next step would be to figure out where to get benchmarks for the places where it's missing. If you have ideas particularly for public or within-DESC codes that calculate analytic quantities related to halos / halo model / halo profiles, that would be great to know.

[2020-12-01 15:55] rmandelb commented on #69
I plan to work on this between 2-4pm Eastern today, providing high-level feedback on sections 6-7 as requested by @dscolnic .  I've added the "Tuesday" label and am happy to chat with others who plan to work on the paper then (he might have other assignments for additional volunteers in #desc-obs-strat).

[2020-12-01 16:10] m-aguena commented on #7
**[Done on December 1st hack]:**

- Implemented changes suggested on [CLMM PR #331](https://github.com/LSSTDESC/CLMM/pull/331)

[2020-12-01 16:58] damonge commented on #30
@joezuntz I just realized I in principle double-booked myself. I'm hoping the previous meeting will actually be shorter than intended, so hopefully I can still make it.

[2020-12-01 17:09] hsnee commented on #25
Hi @nikosarcevic, thanks for joining this sprint! I will share a notebook with you today with the issues we are trying to solve. For now, please see the slides and the references in them for more background information on the project. Thanks!

[2020-12-01 17:12] jablazek commented on #54
update: LSSTDESC/CCL#763 has been completed on Tuesday and is ready for review.

Next up: LSSTDESC/CCL#831

[2020-12-01 18:04] joezuntz commented on #30
Join us when you're free here:

https://ed-ac-uk.zoom.us/j/2182266673?pwd=eFV4N2R3emwrbkFpdldHcG5zdzRNUT09

Meeting ID: 218 226 6673
Passcode: 6s4LKtXX

[2020-12-01 19:01] kponder commented on #72
A subset of us will be working on this synchronously starting at 3 pm EST in DESC zoom room 18 .

[2020-12-01 19:09] c-d-leonard commented on #5
I just attended Yao's tutorial on github actions which I thought was super useful. If you want to check it out slides are here: https://hackmd.io/@yymao/gha1201#/4 and it was recorded though don't know where it's going to be posted.

@vitenti @vivianmiranda if either of you start on this today (Tuesday) can you post here at the end of the day to let me know the status and where / if you'd like me

[2020-12-01 20:58] rmandelb commented on #69
Section 6-7 feedback is [here](https://docs.google.com/document/d/15hTIxFAkn3ujpOWhZGimyZWqnlVBgruszIuaO3hKw84/edit?usp=sharing).

[2020-12-01 21:24] aboucaud commented on #39
Additional ideas that came during the sprint #38 :
- ensure reproducibility of blend images (include a random generator)
- refactor the `btk` module (imports, installation, dependencies, entry points)
- TBC..

[2020-12-01 23:12] kponder commented on #72
Progress on creating possible plots can be seen here:

https://github.com/aimalz/proclam/blob/issue/93/visualization/results_paper/disagreement.ipynb

We worked on implementing a few different metrics to characterize the difference between classifiers. We are still brainstorming what the final "disagreement matrix" will look like; however, we do have a few ideas to look into.

[2020-12-01 23:12] kponder commented on #72
We will be planning another sprint session later in the week.

[2020-12-02 01:38] gvalogia commented on #65
I just pushed an updated version of the notebook Galaxy_pmg, that evaluated the bias and shot noise factor for an LSST-like sample, and eventually the power spectrum Pgg. The notebook also loads the pre-calculated covariance matrices from the 2000 sims of the fiducial cosmology.

[2020-12-02 02:07] empEvil commented on #22
We are going to be doing the sprint at 10 am to 11 am PST

[2020-12-02 12:01] johannct commented on #49
I opened an issue in DC2-Production : https://github.com/LSSTDESC/DC2-production/issues/402

[2020-12-02 12:22] aimalz commented on #34
We're hacking now in DESC \#15 @heather999 @m-aguena @mishakb @empEvil @EiffL

[2020-12-02 12:42] slosar commented on #50
Time to comment:
https://docs.google.com/document/d/10PqPVo-b1LibsA-G9r051trix0ATYsYQqnmiWjMypbc/edit?usp=sharing

[2020-12-02 13:13] aubourg commented on #21
This sprint will focus on the documents in https://github.com/LSSTDESC/Policies

Spot obsolete LSST references, and update to the proper Observatory/Survey/Camera/Telescope wording.

The exact rules are here: https://project.lsst.org/documents/name-use-guide

[2020-12-02 13:37] rmandelb commented on #21
@aubourg - I signed myself up for this issue because I am pretty familiar with the new naming conventions, and wanted to offer to review PRs and answer questions.  So, please feel free to assign me as reviewer.

Note that you can use the OMP (in the Operations repo) as an example, since that one was already updated for the renaming.

[2020-12-02 14:23] jablazek commented on #43
@mishakb : I am doing this now for TJP pages! Let me know if you want to chat about it. Ping me on slack.

[2020-12-02 14:59] mishakb commented on #43
@jablazek: ok, we can look into this.  I am in the middle of something right now but will ping you on slack in a moment so we can chat about what needs to be done.

[2020-12-02 15:37] humnaawan commented on #58
for those who are interested, would a meeting at 10.30am PT / 1.30pm ET / 7.30pm CET today work? please respond with a thumbs up or down on this comment.

[2020-12-02 15:50] c-d-leonard commented on #4
For the live session tomorrow, it would be great if anyone who has started working on the challenge could be ready to say a few words about their method and plans, that would be great! Nothing fancy, no slides or anything needed.

@xfangcosmo @vitenti @pennalima @tilmantroester @jecampagne

[2020-12-02 15:55] tilmantroester commented on #4
I made a WIP entry PR (with Robert Reischke @rreischke) that can be used as a guinea pig to iron out the challenge setup.

[2020-12-02 16:03] aubourg commented on #21
Ok. I have created a Sprint branch and I am playing with it, searching for "Synoptic" everywhere for instance

[2020-12-02 16:35] joezuntz commented on #30
Discussion notes:

Pieces of the code:
- Data provision n(z), etc,
- Source systematics - IA, n(z) sys errors
- Primary theory - boltzmann, NL power, Cosmo object, Weyl
- Secondary theory - source-specific theory, PT
- Observables - C_ell, corr funcs
- Statistics systematics - m-bias c-bias
- Likelihood

ABC design for above:
- communicate through an abstract base class.
- talk to cosmosis, cobaya

[2020-12-02 16:35] joezuntz commented on #30
Meeting now!

[2020-12-02 17:09] m-aguena commented on #34
On today's sprint:

High level flowchart [here](https://docs.google.com/drawings/d/19Icz65Mmgw1Jp7NQ6BEZybIoJIY3UymKNC_D18jT9Fs/edit)

Issues created:
 - https://github.com/LSSTDESC/Pipelines/issues/23
 - https://github.com/LSSTDESC/Pipelines/issues/24
 - https://github.com/LSSTDESC/Pipelines/issues/25

PR created:
 - https://github.com/LSSTDESC/Pipelines/pull/26

[2020-12-02 17:12] ixkael commented on #64
What should be the strategy to work on this? I think there is a lot of overlap/cross-talk between the topics and what people discussed. We could try to edit a copy of the document and 1) move each bullet point into the most relevant section, 2) combine duplicates, 3) compress the language, 4) separate findings from suggestions (which people found difficult to distinguish).

The copy we can edit is

[2020-12-02 17:24] nikosarcevic commented on #17
I am interested in this. How could I help (warning: newbie)

[2020-12-02 17:26] humnaawan commented on #58
okay we'll be meeting at 10.30am PT in the [wonder.me room](wonder.me/r?id=oaohh4-xam9y). In the unlikely event of more than 15 people attending the meeting, we'll use [DESC #20](https://stanford.zoom.us/j/95629755980?pwd=ekdtaWZQZ1N5aGYxcE9TTXhXQkl1dz09).

[2020-12-02 17:27] katrinheitmann commented on #64
Yes, I think rearranging it so we have the most relevant points together and combine duplicates will be very helpful. And compressing language is always good :-) With regard to findings/suggestions, I am hoping that we can report a little bit on what people see being problems (findings) and then hopefully we have some suggestions on how to do things better and we can think about which of those are

[2020-12-02 17:31] kponder commented on #17
@nikosarcevic join our call in 30 minutes! I added you to the slack channel as well.

[2020-12-02 17:57] BrunoSanchez commented on #40
For people interested in this sprint we are meeting in DESC 26 zoom room at 2 PM EST!

[2020-12-02 19:20] humnaawan commented on #58
@plazas @sukhdeep1989 and i just met and went through the google doc linked above; i had adapted the questions from the July form for the Sprint week beforehand. there are various questions that we think can be deleted; we've highlighted them alongside other suggestions.

the draft questions are now shared with the Meetings Committee, the LOC, and the MAC for feedback.

[2020-12-02 19:27] BrunoSanchez commented on #40
Maybe this helps

[code]

[2020-12-02 19:28] BrunoSanchez commented on #40
This queries could speed up your script:
[code]

[2020-12-02 19:45] BrunoSanchez commented on #40
[code]

[2020-12-02 19:55] shuliu2017 commented on #40
get bounding box:
`bbox = butler.get('deepCoadd_bbox', dataId=dataId=dataId)`

[2020-12-02 20:06] shuliu2017 commented on #40
another method to extract coadd infomation:[DRP image processing resource estimator, extract_coadds](https://github.com/LSSTDESC/ImageProcessingPipelines/pull/164/files#diff-ed58041f495a04f40ab9da4ec2eabb3a7593f1ccf2bedf7624aa1f875726121fR30)

[2020-12-02 20:40] MelissaGraham commented on #51
Started to work in SciServer with an old MAF that returns the 5sigma depth in all filters for all HEALpix that are: (1) observed in all 6 filters; (2) have E(B-V)<0.2; and (3) have i-band depth > a specified limit (depends on year of survey).

Having trouble with this old MAF and so am seeking to use a newer one as the starting point.

Once I have a working MAF that can return the median 5-sigma d

[2020-12-02 21:42] gvalogia commented on #65
We have the first Fisher plots, for the Y10 sample!
![image](https://user-images.githubusercontent.com/13497222/100935347-fb07fc80-34bd-11eb-9b8a-24b54b4b10ec.png)

[2020-12-02 21:49] yoachim commented on #51
Do you mean "coadded 5-sigma depth" rather than "median 5-sigma depths"?
Note that we have the `ExgalM5` metric which will give you the coadded depth and apply dust extinction.

I would encourage you to not make any cuts to run on only extragalactic area (we don't have "fields"). Ideally the metric would show things improve when we use a footprint that avoids dust.

[2020-12-02 21:59] rhiannonlynne commented on #51
On the other hand - I think applying a cut to discount area which is not
suitable (such as having dust extinction which is too high) might be
 reasonable, if the photo-z metric by itself cannot properly account for
errors introduced by a higher error due to uncertain dust extinction.

Like Peter said - there is an ExgalM5 metric which does what you want.
There is also an ExgalM5_with_cuts metric t

[2020-12-03 02:55] humnaawan commented on #59
i just added template drafts in the google doc linked above. @plazas @yymao can you please take a look? i'm happy to meet tomorrow or friday if you want to go over the questions together. once i have some initial comments, i can share the templates with the meetings committee etc.

[2020-12-03 03:06] rmandelb commented on #21
Thanks, @aubourg .  I took a quick peek.  A lot of it looks good to me!

The one exception: the data rights are LSST data rights, not Rubin data rights.  You can see this in the Rubin Data Policy, for example - they often refer to simply "data rights" but when there is a modifier, it's "LSST data rights", not "Rubin data rights".  This is also reflected in documentation associated with the ongoing

[2020-12-03 09:16] enourbakhsh commented on #44
We are using the following version of `MLZ` which is compatible with Python 3 and the newer versions (>1.1.6) of `numpy`:
https://github.com/enourbakhsh/MLZ

[2020-12-03 15:36] c-d-leonard commented on #5
@vivianmiranda @vitenti any updates on this?

[2020-12-03 20:34] empEvil commented on #28
http://lsstdesc.org/TXPipe/build/html/index.html

[2020-12-03 21:19] slosar commented on #50
Thanks everyone who left comments; a lot of useful stuff.
Given that DC2 telecon is cancelled tomorrow, can we have a brief tag-up about these issues on the AC zoom at 11AM Eastern (DC2 slot) (note that this otherwise an unprotected public web page, so you can find it here: https://confluence.slac.stanford.edu/display/LSSTDESC/Zoom+Meeting+Information). Hopefully not more than 30 mins. Feel free t

[2020-12-03 21:55] rmandelb commented on #50
Sorry, Anze, I am otherwise committed then.  I'll keep watching the comments on the doc etc.

[2020-12-04 01:26] johannct commented on #50
Unfortunately I won't be available either.

[2020-12-04 04:59] katrinheitmann commented on #50
The sprint pitches/wrap-ups happen at that time, I would like to listen to them .. If you still want to do this, could we start a little later than 8am? Usually they are done under 30 minutes.

[2020-12-04 07:12] liuxx479 commented on #11
Joachim started to generate maps at /global/cscratch1/sd/jialiu/desc-sprint-raytracing

Note on file configurations:
10x10 deg^2, 7745^2 pixels, single precision, 240Mb.
5 tomographic bin per mock survey = so 1.2Gb per light cone.
800 light cones for the covariance
1300 light-cones for the cosmology dependence (although that one could be reduced to 260 for most statistics where the signal converge

[2020-12-04 09:37] slosar commented on #50
Oh, I got confused over sprint week schedule, yes, we don't want to be overlapping with wrap-up.
Ok, let's postpone to next week some time.

[2020-12-04 14:40] humnaawan commented on #59
okay i think this sprint is complete so i'll close this issue. thanks to all who participated!

[2020-12-04 14:41] #59 closed, assigned to yymao, humnaawan

[2020-12-04 14:42] humnaawan commented on #58
okay i think this sprint is complete so i'll close this issue. thanks to all who participated!

[2020-12-04 14:42] #58 closed, assigned to humnaawan

[2020-12-04 15:30] jablazek commented on #54
Comment for end of Sprint week. #831 is still pending. #763 is done and should be merged as soon as possible.

[2020-12-04 15:37] jablazek commented on #55
Sprinted on this with @Andromedanita with input from @c-d-leonard and @EiffL .

- We have solved the documentation issue (https://github.com/LSSTDESC/CCL/issues/744). A PR has been opened.
- We understand what to do to allow more general bessel transforms (e.g. for w_p(r_p).) Implementation must be finished. (https://github.com/LSSTDESC/CCL/issues/219)
- We know how to allow for general Pk -> xi(r

[2020-12-04 15:40] jablazek commented on #56
Worked on other sprints instead. Pinging @Andromedanita who may be interested in future work on this.

[2020-12-04 16:01] herjy commented on #10
Sorry Eve, I'll try to pop in if I have a minute. Do you need anything from BL?

[2020-12-04 16:16] ismael-mendoza commented on #39
Ideas where all posted in the BTK issue page (https://github.com/LSSTDESC/BlendingToolKit/issues).
@BastienArcelin would you like to add an issue to simulate DC2 like-images? Not sure when we'll get to it, but it's good to have a record in other people are interested. I remember Francois mentioned it might be easy to simulate them from scratch instead of going through the butler, etc.

[2020-12-04 16:17] #39 closed

[2020-12-04 16:18] ismael-mendoza commented on #38
Success! Functionality will soon be merged into BTK via this branch: https://github.com/LSSTDESC/BlendingToolKit/pull/75. Thanks everyone!

[2020-12-04 16:18] #38 closed

[2020-12-04 16:27] katrinheitmann commented on #64
Summary: We have had a fruitful Townhall meeting and during the sprint, we summarized some of the discussions in this google doc:  https://docs.google.com/document/d/1HcqIqgqlMFiwpIa8usFQGC7zoOD9JnIYngY5At9IqO4/edit?usp=sharing

Next, the EDI committee is going to try to distill some more concrete action items that the collaboration can follow. For now, we close this Sprint issue. Thanks everybody

[2020-12-04 16:27] #64 closed, assigned to katrinheitmann

[2020-12-04 16:28] katrinheitmann commented on #32
This sprint in the end did not happen. It is still an important task and hopefully we will get around to it soon. For now, we close this issue.

[2020-12-04 16:28] #32 closed

[2020-12-04 16:45] #12 closed

[2020-12-04 16:46] jchiang87 commented on #12
All three proposed deliverables are in the [PR](https://github.com/LSSTDESC/ImageProcessingPipelines/pull/164).

[2020-12-04 17:09] EiffL commented on #31
We didn't get time to discuss this or work on it at this sprint week, but should we schedule this discussion for the next TXPipe telecon on Thursday 17th? @joezuntz @aimalz ?

[2020-12-04 21:15] #28 closed

[2020-12-04 21:16] #22 closed

[2020-12-04 22:02] MelissaGraham commented on #51
I mean the average of the coadded 5-sigma depths in each filter, where the average is over all "extragalactic fields", where an "extragalactic field" means one that would be used for cosmology: has coverage in all 6 filters, has MW E(B-V)<0.2, and has an i-band depth fainter than some minimum.

Right now I'm just using the same one that you two wrote for me a ways back, but I got it set up in the

[2020-12-05 00:15] mishakb commented on #36
progress made on cleaning the code.

progress also made on identifying benchmarks from ISiTGR for redshift and scale dependence.

This will continue this week-end and next week to finish these objectives.

[2020-12-05 00:18] mishakb commented on #35
Due to other sprints and also to the extensive DESC TJP project review and update sprint, this IA sprint will have to be  rescheduled for the weeks to follow within TJP activities.

[2020-12-06 18:13] #68 closed, assigned to c-d-leonard, nikosarcevic

[2020-12-07 21:35] yoachim commented on #51
The CMNN is clearly doing a lot of work. Is there speedup to be had in running it for a single fiducial galaxy at a single redshift? I'm thinking train it once, then just get the errors for a single redshift at each healpix.

[2020-12-08 10:12] #7 closed

[2020-12-08 20:27] MelissaGraham commented on #51
Using some kind of contrived, minimal test-set of galaxies is a good idea. I just need to think about (and talk with cosmologists about) what kind of galaxies are the best canaries. Like maybe Xc intrinsic colors at Xz representative true redshifts for a test set of just Xc*Xz test-set galaxies...

One problem with using such a small test set, though, is that the CMNN Estimator has a random-select

[2020-12-10 18:22] yoachim commented on #51
I like starting with a single test redshift because my naive intuition is that photo-z performance should be fairly correlated (if we do better at z=0.5, I'm betting it's a similar improvement for z=0.6). Rather than best color-matched galaxy, can you just pull the top N best matching? Then you could compute a weighted mean and weighted standard deviation for the photo-z residuals.

The cosmologis

[2020-12-10 18:55] rhiannonlynne commented on #51
Is the problem that the photo-z quality depends in large part not on how
well a single galaxy does, but how much scatter there is overall and what
the fraction of catastrophic outliers are? How come there isn't a grid of
coadded depths in different bands -> photo-z performance lookup table? (or
does it not just depend on depth?).

On Thu, Dec 10, 2020 at 10:22 AM Peter Yoachim <notifications@githu

[2020-12-10 19:03] MelissaGraham commented on #51
Yes, right now under DESC's guidance we're doing a "low z" (0.8-1.2) and a "high z" (2.2-2.6 I think) bin for the results. But I get the impression that even that is too many... potentially unavoidable.

Yes, the CMNN Estimator could use the weighted mean of the color-matched subset, but this isn't different from using a weighted random draw. It already uses the standard dev. of the subset as the

[2020-12-14 01:07] humnaawan commented on #14
okay i just pushed a [commit](https://github.com/LSSTDESC/TXPipe/commit/24d358cd4cf25ef5a0c59237bfba920893b93b82) to be able to read in healsparse systematics maps; i'm not sure of how to check this beyond the fact that 1) i dont get `Warning: Problem reading systematics map file` followed by `No systematics maps found. Skipping deprojection.`, and 2) the `TXTwoPointFourier` run takes longer now t

[2020-12-14 03:05] fjaviersanchez commented on #14
Nice! The code looks good. Thanks a lot :). Let me check the tasks and get back to you (the problem is that this week NERSC is going to be down for the whole week though)

[2020-12-22 20:57] cavestruz commented on #26
I've looked over the projects with [CL tag](https://confluence.slac.stanford.edu/label/LSSTDESC/cl). 

- There are two "active" but still unapproved projects, and I've added comments pinging the confluence page authors to follow-through for official approval and project announcement.
- There are several "project concepts", and I haven't heard of any recent progress or starts, so am leaving them as

[2021-01-13 14:34] aimalz commented on #34
I want to follow up about maybe [requesting a XWG session for the February collaboration meeting](https://confluence.slac.stanford.edu/display/LSSTDESC/DESC+February+2021+Virtual+Meeting%3A+XWG+%28cross-working+group%29+session+sign-up). We made a few far-reaching conclusions (mostly encapsulated by LSSTDESC/Pipelines#25) whose solutions XWG members, conveners, and pipeline scientists need to disc

[2021-01-13 15:50] mishakb commented on #34
Hi @aimalz, I think this is a good idea to propose and I am supportive.

[2021-01-27 15:27] humnaawan commented on #60
@erykoff hope you're well. im just following up regarding the status of the redMaPPer output for DC2. can you please let me know if/where i can find it?

[2021-03-15 14:28] yymao commented on #8
DC2 public data release is live! Further comments should go to: https://github.com/LSSTDESC/desc-data-portal

[2021-03-15 14:28] #8 closed

[2021-03-15 14:31] yymao commented on #13
dark theme slide template available at https://confluence.slac.stanford.edu/x/hwobCw, thanks to @theabbybault

[2021-03-15 14:31] #13 closed

[2021-03-15 14:32] yymao commented on #63
Done! File paths can be found on https://confluence.slac.stanford.edu/x/1KbgEQ

[2021-03-15 14:32] #63 closed, assigned to yymao, heather999

[2021-03-15 14:33] yymao commented on #27
Further discussion should take place at https://github.com/LSSTDESC/StackClub

[2021-03-15 14:33] #27 closed

[2021-03-15 14:36] yymao commented on #52
A issue about this has been created in https://github.com/LSSTDESC/cutout-service/issues/4 -- further discussion should go there.

[2021-03-15 14:36] #52 closed

[2021-03-15 14:40] yymao commented on #9
Moved to https://github.com/LSSTDESC/gcr-catalogs/issues/570 -- further discussion should go there.

[2021-03-15 14:40] #9 closed